<div id="content-wrapper">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Saldo</a>
    </li>
  </ol>
  <div class="d-flex flex-column align-content-center align-items-center
    justify-content-center m-5">
    <div class="display-4 text-center m-2">Saldo en Cuenta</div>
    <div class="rounded border-primary border p-3 m-3 text-center w-50">
      <h1>{{balanceUser}}</h1>
    </div>
    <div class="p-3 m-3 text-center w-50 d-flex flex-row align-content-center justify-content-center">
        <a class="btn btn-primary mx-3" routerLink="history">Retirar Fondos</a>
        <button class="btn btn-secondary mx-3" (click)="goToHistory()">Historial de Transacciones</button>
    </div>
  </div>
</div>
