<div>

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Saldo</a>
    </li>
  </ol>

  <div class="row justify-content-center align-content-center
    align-items-center">
    <span>Saldo en Cuenta</span>
    <div class="col-3">
      <div class="border-primary border rounded p-3 m-2 d-flex
        justify-content-end">
        <span class="h3">{{balanceUser}}</span>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center align-content-center">
      <div class="">
          <button class="btn btn-primary mx-3" (click)="open(content)"  >Retirar Fondos</button>
      </div>
    </div>
  </div>

  <div class="w-100">
      <section id="tabs" class="project-tab">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <nav>
                          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Pagos</a>
                              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Retiros</a>
                          </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <table class="table" cellspacing="0">
                                  <thead>
                                      <tr>
                                          <th>Titulo de Asesoría</th>
                                          <th>Fecha</th>
                                          <th>Cliente</th>
                                          <th>Monto</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let payment of payments"  [className]="payment.payment_status==='A'?'text-danger':(payment.payment_status==='P'?'text-warning':'text-success')">
                                          <td>{{payment.title}}</td>
                                          <td>{{payment.for_date}}</td>
                                          <td>{{payment.username}}</td>
                                          <td>{{payment.dating_amount}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                              <table class="table" cellspacing="0">
                                  <thead>
                                      <tr>
                                          <th>Referencia</th>
                                          <th>Captura</th>
                                          <th>banco Destino</th>
                                          <th>Monto</th>
                                          <th>Fecha</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let retirement of retirements" [className]="retirement.retirement_status==='A'?'text-success':(retirement.deposit_status==='P'?'text-warning':'text-danger')">
                                          <td>{{retirement.referenceno}}</td>
                                          <td> <a [href]="uploads+retirement.document" [className]="retirement.document?'btn btn-link':'d-none'" target="_blank">Captura</a></td>
                                          <td>{{retirement.bank_to}}</td>
                                          <td>{{retirement.amount}}</td>
                                          <td>{{retirement.created_at}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="d-flex flex-row justify-content-center align-content-center">
                              <div class="text-success m-2">Aprobado</div>
                              <div class="text-danger m-2">Rechazado</div>
                              <div class="text-warning m-2">En Proceso</div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    <!-- <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Transacción</th>
          <th scope="col">Cliente</th>
          <th scope="col">Fecha de Consulta</th>
          <th scope="col">Monto de Consulta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">#1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">#2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">#3</th>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table> -->
  </div>

  <!-- <div class="d-flex flex-column align-content-center align-items-center
    justify-content-center m-5">
    <div class="display-4 text-center m-2">Saldo en Cuenta</div>
    <div class="rounded border-primary border p-3 m-3 w-50">
      <h1 class="text-right">{{balanceUser}}</h1>
    </div>
    <div class="p-3 m-3 text-center w-50 d-flex flex-row align-content-center justify-content-center">
        <button class="btn btn-primary mx-3" (click)="open(content)"  >Retirar Fondos</button>
        <button class="btn btn-secondary mx-3" (click)="goToHistory()">Historial de Transacciones</button>
    </div>
  </div>
</div> -->

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Añadir Saldo a Cuenta.</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form >
      <div class="modal-body">

        <div class="form-group">
          <label for="amount">Monto:</label>
          <input class="form-control" type="number" name="amount" id="amount" [(ngModel)]="retirement.amount"/>
        </div>
        <div class="form-group">
          <label for="amount">Transferir al banco:</label>
          <select  id="bank" name="bank" [(ngModel)]="retirement.bank_to" class="form-control" required="required">
            <option [ngValue]="acct.bank" *ngFor="let acct of accounts" > {{acct.bank}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="sendRetirement()" >Enviar</button>
      </div>
    </form>
  </ng-template>
