
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['dashboard']">
      <i class="fas fa-fw fa-tachometer-alt"></i>&nbsp;
      <span>Inicio</span>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" [routerLink]="['new_appointment']">
        <i class="fas fa-headset"></i>&nbsp;
      <span>Solicitar Consulta</span>
    </a>
  </li>
  <li class="nav-item ">
      <a class="nav-link" [routerLink]="['consultants']">
          <i class="fas fa-user-tie"></i>&nbsp;
        <span>Asesores</span>
      </a>
    </li>
  <li class="nav-item ">
    <a class="nav-link" [routerLink]="['transactions']">
        <i class="fas fa-money-check-alt"></i>&nbsp;
      <span>Transacciones</span>
    </a>
  </li>
  <li class="nav-item ">
      <a class="nav-link" [routerLink]="['history']">
          <i class="fas fa-history"></i>&nbsp;
        <span>Historial</span>
      </a>
    </li>
</ul>
