<footer class="text-white position-absolute w-100 bg-dark py-3 d-none d-md-block" style="bottom: 0%">
  <div class="container">
    <p class="text-center">Ana Garcia Asociados &copy; 2019</p>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
      et accusamus maiores laborum ab pariatur, perferendis dolor suscipit facere
      illum perspiciatis velit omnis quia commodi maxime neque explicabo. Facilis, corporis.</p> -->
      <!-- <div>Time: {{ time | async }}</div> -->
  </div>
</footer>
