<div>

  <!-- <div class="container"> -->

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Historial Global</a>
    </li>
  </ol>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Reportes</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrado">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre y Apellido</th>
              <td mat-cell *matCellDef="let element" class="text-center mt-2"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="movement_type">
              <th mat-header-cell *matHeaderCellDef> Movimiento </th>
              <td mat-cell *matCellDef="let element"> {{element.movement_type}} </td>
            </ng-container>
            <ng-container matColumnDef="type_user">
              <th mat-header-cell *matHeaderCellDef> Tipo </th>
              <td mat-cell *matCellDef="let element"> {{element.type_user}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Fecha de Movimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at | date:'medium' }} </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>

  </div>
