<div class="text-center p-5 m-5 animated fadeInDown">
  <form class="form-signin">
    <h1 class="navbar-brand text-danger animated infinite pulse delay-2s" ><i class="fas fa-user-shield fa-6x"></i></h1>
    <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesión</h1>
    <label for="username" class="sr-only">Correo Electronico</label>
    <input type="text" id="username" name="username" class="form-control" [(ngModel)]="user.username" placeholder="Usuario Administrador" required="true" autofocus="true">
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" name="inputPassword" [(ngModel)]="user.pass" class="form-control"
      placeholder="Constraseña" required="true" >
    <button type="submit" class="btn btn-lg btn-danger btn-block" (click)="signIn()">Ingresar</button>
    <span class="text-center text-danger mx-2">Inicio de sesión solo para administradores, si no es el caso <a [routerLink]="['/login']">vuelva atras.</a></span>
  </form>
</div>
