<div class="container">
  <div class="d-flex flex-column m-3">
    <div>
       <h1 class="text-center"><i class="fas fa-heartbeat"></i> Ana Garcia Asociados</h1>
    </div>
    <div>
      <h3 class="text-center">Asesoria por Estados</h3>
    </div>
    <hr>
    <div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Estado</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data" >
            <td>{{item.state}}</td>
            <td>{{item.counter}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
