<div>

  <!-- <div class="container"> -->

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Parametros de la aplicación</a>
      </li>
    </ol>

    <h3 class="text-center">Administracion de Parametros</h3>
    <hr>
    <div class="container">
      <table class="table table-hoverable">
        <thead class="text-center thead-dark">
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Valor</th>
          <th class="align-content-end justify-content-end ali">
            <button class="btn btn-success" (click)="open('Crear', param)" >Nuevo</button>
          </th>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let paramr of parameters" >
              <td>{{paramr.name}}</td>
              <td>{{paramr.description}}</td>
              <td>{{paramr.value}}</td>
              <td>
                <button class="btn btn-warning mx-1" (click)="open('Modificar',param, paramr)" >Editar</button>
                <button class="btn btn-danger mx-1" (click)="openConfirm(confirm, paramr )"  >Eliminar</button>
              </td>
            </tr>
            <tr *ngIf="!parameters"><td colspan="4" class="text-center">No existen parametros registrados</td></tr>
        </tbody>
      </table>
    </div>
<hr>
<h3 class="text-center">Cuentas Bancarias</h3>
    <hr>
    <div class="container">
      <table class="table table-hoverable">
        <thead class="text-center thead-dark">
          <th>CI.:</th>
          <th>Banco</th>
          <th>Numero de Cuenta</th>
          <th>TIpo de Cuenta</th>
          <th class="align-content-end justify-content-end">
            <button class="btn btn-success" (click)="open_bank('Crear', modal_bank)" >Nuevo</button>
          </th>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let bk of banks" >
              <td>{{bk.identification_document}}</td>
              <td>{{bk.name}}</td>
              <td>{{bk.code}}</td>
              <td>{{bk.account_type}}</td>
              <td>
                <button class="btn btn-warning mx-1" (click)="open_bank('Modificar',modal_bank, bk)" >Editar</button>
                <button class="btn btn-danger mx-1" (click)="open_confirm_bank(confirm_bank,bk)"  >Eliminar</button>
              </td>
            </tr>
            <tr *ngIf="!parameters"><td colspan="4" class="text-center">No existen parametros registrados</td></tr>
        </tbody>
      </table>
    </div>
  </div>


<ng-template #param let-modal class="modal fade" tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{action}} Parametro {{parameter.name}}</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="m-2">
      <div class="form-group">
        <label for="">Nombre de parametro:</label>
        <input class="form-control" placeholder="No usar ESPACIOS en este Campo" type="text" name="name" id="name" [(ngModel)]="parameter.name"/>
      </div>
      <div class="form-group">
          <label for="">Descripción:</label>
          <input class="form-control" type="text" name="description" id="description" [(ngModel)]="parameter.description"/>
        </div>
        <div class="form-group">
            <label for="">Valor:</label>
            <input class="form-control" type="text" name="value" id="value" [(ngModel)]="parameter.value"/>
          </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="save()" >Guardar</button>
  </div>
</ng-template>


<ng-template #confirm let-modal class="modal fade" tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmar</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="m-2">
      <h3 class="text-center">¿Esta Seguro de Eliminar el Parametro {{parameter.name}}?</h3>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()" >Cancelar</button>
    <button type="button" class="btn btn-success" (click)="delete()" >Aceptar</button>
  </div>
</ng-template>

<ng-template #modal_bank let-modal class="modal fade" tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{action}} Cuenta Bancaria {{bank.name}}</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="m-2">
      <div class="form-group">
        <label for="">Numero de Cuenta:</label>
        <input class="form-control"  type="text" name="code" id="code" [(ngModel)]="bank.code"/>
      </div>
      <div class="form-group">
          <label for="">Cedula de Identidad:</label>
          <input class="form-control" type="text" name="identification_document" id="identification_document" [(ngModel)]="bank.identification_document"/>
        </div>
        <div class="form-group">
            <label for="">Tipo de cuenta:</label>
            <select class="form-control" name="account_type" id="account_type" [(ngModel)]="bank.account_type">
              <option [ngValue]="'Ahorro'">Ahorro</option>
              <option [ngValue]="'Corriente'">Corriente</option>
            </select>
          </div>
          <div class="form-group">
            <label for="amount">Banco:</label>
            <select  id="name" name="name" class="form-control" required="required" [(ngModel)]="bank.name">
                <option [ngValue]="'Banco Central de Venezuela'"> Banco Central de Venezuela</option>
                <option [ngValue]="'Banco Industrial de Venezuela, C.A. Banco Universal'"> Banco Industrial de Venezuela, C.A. Banco Universal</option>
                <option [ngValue]="'Banco de Venezuela S.A.C.A. Banco Universal'"> Banco de Venezuela S.A.C.A. Banco Universal</option>
                <option [ngValue]="'Venezolano de Crédito, S.A. Banco Universal'"> Venezolano de Crédito, S.A. Banco Universal</option>
                <option [ngValue]="'Banco Mercantil, C.A S.A.C.A. Banco Universal'"> Banco Mercantil, C.A S.A.C.A. Banco Universal</option>
                <option [ngValue]="'Banco Provincial, S.A. Banco Universal'"> Banco Provincial, S.A. Banco Universal</option>
                <option [ngValue]="'Bancaribe C.A. Banco Universal'"> Bancaribe C.A. Banco Universal</option>
                <option [ngValue]="'Banco Exterior C.A. Banco Universal'"> Banco Exterior C.A. Banco Universal</option>
                <option [ngValue]="'Banco Occidental de Descuento, Banco Universal C.A.'"> Banco Occidental de Descuento, Banco Universal C.A.</option>
                <option [ngValue]="'Banco Caroní C.A. Banco Universal'"> Banco Caroní C.A. Banco Universal</option>
                <option [ngValue]="'Banesco Banco Universal S.A.C.A.'"> Banesco Banco Universal S.A.C.A.</option>
                <option [ngValue]="'Banco Sofitasa Banco Universal'"> Banco Sofitasa Banco Universal</option>
                <option [ngValue]="'Banco Plaza Banco Universal'"> Banco Plaza Banco Universal</option>
                <option [ngValue]="'Banco de la Gente Emprendedora C.A.'"> Banco de la Gente Emprendedora C.A.</option>
                <option [ngValue]="'Banco del Pueblo Soberano, C.A. Banco de Desarrollo'"> Banco del Pueblo Soberano, C.A. Banco de Desarrollo</option>
                <option [ngValue]="'BFC Banco Fondo Común C.A Banco Universal'"> BFC Banco Fondo Común C.A Banco Universal</option>
                <option [ngValue]="'100% Banco, Banco Universal C.A.'"> 100% Banco, Banco Universal C.A.</option>
                <option [ngValue]="'DelSur Banco Universal, C.A.'"> DelSur Banco Universal, C.A.</option>
                <option [ngValue]="'Banco del Tesoro, C.A. Banco Universal'"> Banco del Tesoro, C.A. Banco Universal</option>
                <option [ngValue]="'Banco Agrícola de Venezuela, C.A. Banco Universal'"> Banco Agrícola de Venezuela, C.A. Banco Universal</option>
                <option [ngValue]="'Bancrecer, S.A. Banco Microfinanciero'"> Bancrecer, S.A. Banco Microfinanciero</option>
                <option [ngValue]="'Mi Banco Banco Microfinanciero C.A.'"> Mi Banco Banco Microfinanciero C.A.</option>
                <option [ngValue]="'Banco Activo, C.A. Banco Universal'"> Banco Activo, C.A. Banco Universal</option>
                <option [ngValue]="'Bancamiga Banco Microfinanciero C.A.'"> Bancamiga Banco Microfinanciero C.A.</option>
                <option [ngValue]="'Banco Internacional de Desarrollo, C.A. Banco Universal'"> Banco Internacional de Desarrollo, C.A. Banco Universal</option>
                <option [ngValue]="'Banplus Banco Universal, C.A.'"> Banplus Banco Universal, C.A.</option>
                <option [ngValue]="'Banco Bicentenario Banco Universal C.A.'"> Banco Bicentenario Banco Universal C.A.</option>
                <option [ngValue]="'Banco Espirito Santo, S.A. Sucursal Venezuela B.U.'"> Banco Espirito Santo, S.A. Sucursal Venezuela B.U.</option>
                <option [ngValue]="'Banco de la Fuerza Armada Nacional Bolivariana, B.U.'"> Banco de la Fuerza Armada Nacional Bolivariana, B.U.</option>
                <option [ngValue]="'Citibank N.A.'"> Citibank N.A.</option>
                <option [ngValue]="'Banco Nacional de Crédito, C.A. Banco Universal'"> Banco Nacional de Crédito, C.A. Banco Universal</option>
                <option [ngValue]="'Instituto Municipal de Crédito Popular'"> Instituto Municipal de Crédito Popular</option>
            </select>
          </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="save_bank()" >Guardar</button>
  </div>
</ng-template>

<ng-template #confirm_bank let-modal class="modal fade" tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmar</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="m-2">
      <h3 class="text-center">¿Esta Seguro de Eliminar elimnar la cuenta {{bank.name}}?</h3>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()" >Cancelar</button>
    <button type="button" class="btn btn-success" (click)="delete_bank()" >Aceptar</button>
  </div>
</ng-template>
