<div>

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Asesorias Solicitadas</a>
    </li>
  </ol>

  <div class="row d-flex justify-content-left mx-3">
    <div class="col-md-4 my-1" *ngFor="let dating of datings$">
      <div class="card">
        <div class="card-body text-center">
          <i [className]="'fas fa-clock fa-3x my-2 '+('Solicitado'===dating.dating_status?'text-warning':(('Aprobada'===dating.dating_status || 'Finalizada'===dating.dating_status)?'text-success':'text-danger'))"
          ></i>
          <h5 class="card-title">{{dating.title}}</h5>
          <h6 class="card-title">{{dating.summary}}</h6>
          <hr class="hr-light">
          <div class="d-flex flex-row align-content-center align-items-center
            justify-content-center">
            <button class="btn btn-primary text-center m-1"
              (click)="open(request_info, dating)">Ver Información</button>
            <button [className]="'Solicitado'===dating.dating_status?'btn
              btn-danger m-1':'d-none'" class="" data-toggle="modal" (click)="open(confirm_cancel, dating)">Cancelar Solicitud</button>
              <button [className]="('Aprobada'===dating.dating_status)?'btn
              btn-success m-1':'d-none'" class="" data-toggle="modal" (click)="open(confirm_finish, dating)">Finalizar Asesoria</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #request_info let-modal class="modal fade" tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">#{{dating.id}} -
      {{dating.title}}</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-column">
      <div class="m-1">
        <span><b>Descripcion del caso: </b> {{dating.summary}}</span><br>
      </div>
      <div class="m-1">
        <span><b>Fecha: </b> {{dating.for_date | date: 'shortDate' }}</span><br>
      </div>
      <div class="d-flex flex-row m-0">
        <span class="mx-2"><b>Hora Pautada: </b> {{dating.time_from}}</span><br>
        <span class="mx-2"><b>Hora de Cierre: </b> {{dating.time_up}}</span><br>
      </div>
      <div class="m-1">
        <span><b>Precio: </b>{{dating.price}} Bs</span><br>
      </div>
      <div class="m-1">
        <span><b>Asesor: </b>{{dating.conape}}  {{dating.conname}}</span><br>
      </div>
      <div [className]="'m-1 '+'Solicitado'===dating.dating_status?'d-none':('Aprobada'===dating.dating_status?'':'d-none')">
        <div class="d-flex">
          <div>
            <span>
            <b>Sala de Conferencia: </b> <button class="btn btn-link text-decoration-none" (click)="openLink(dating.conference_room_url)"> Ir a la sala. &nbsp;<i class="fas fa-external-link-alt"></i></button>
           </span>
          </div>
          <div class="ml-auto">
            <button class="btn btn-link text-decoration-none" data-toggle="tooltip" data-placement="top" title="Reportar un problema sobre la sala de conferencia." (click)="send_error()">
              <i class="fa fa-info-circle text-danger"></i>
            </button>
          </div>
          <br>
        </div>
      </div>
      <div class="m-1">
        <span><b>Estado: </b> <span
          [className]="'Solicitado'===dating.dating_status?'text-warning':(('Aprobada'===dating.dating_status || 'Finalizada'===dating.dating_status)?'text-success':'text-danger')">{{dating.dating_status}}</span></span><br>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="close()">Cerrar</button>
  </div>
</ng-template>

<ng-template #confirm_cancel let-modal class="modal fade" tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Confirmar cancelación de asesoria.</h5>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Esta seguro de Cancelar la cita a asesoria con titulo <b>"{{dating.title}}"</b>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="close()">Cerrar</button>
    <button type="button" class="btn btn-primary ml-2" (click)="cancelledDating()">Aceptar</button>
  </div>
</ng-template>

<ng-template #confirm_finish let-modal class="modal fade" tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Confirmar finalizacion y cierre de la asesoria.</h5>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>La asesoria <b>"{{dating.title}}"</b> solo debe ser finalizada luego de su fecha estipulada, si esta información es correcta puede proceder.
    Gracias por usar nuestros servicios.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
    <button type="button" class="btn btn-primary ml-2" (click)="finishedDating()">Aceptar</button>
  </div>
</ng-template>
