<div id="content-wrapper">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Historial</a>
    </li>
  </ol>

  <div class="d-flex">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Transacción</th>
              <th scope="col">Cliente</th>
              <th scope="col">Fecha de Consulta</th>
              <th scope="col">Monto de Consulta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">#1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">#2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">#3</th>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
  </div>


</div>
