<div id="content-wrapper">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Solicitudes de Asesoria.</a>
    </li>
  </ol>

  <div class="row justify-content-center">

    <div class="col-md-3 m-1" *ngFor="let dating of datings" >
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">{{dating.title}}</h5>
          <h6 class="card-text font-weight-light">{{dating.summary}}</h6>
          <hr class="hr-light">
            <button class="btn btn-link text-center text-primary"  data-toggle="modal"
            [attr.data-datingid]="dating.id" [attr.data-title]="dating.title"
            [attr.data-summary]="dating.summary" [attr.data-price]="dating.price"
            [attr.data-for_date]="dating.for_date"
            [attr.data-userid]="dating.user_id"
            [attr.data-title]="dating.title"
            (click)="open(content,$event)">Ver detalles</button>
        </div>
      </div>
    </div>
</div>

<ng-template #content let-modal class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Solicitar Cita</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-group">
            <h2 for="date" class="text-center">{{tempDating.title}}</h2>
            <!-- <input id="text" class="form-control" name="title" type="title"  > -->
          </div>
          <div class="form-group">
              <h4 for="date" class="text-center">{{tempDating.summary}}</h4>
            </div>
            <div class="form-group">
                <label for="date">Fecha</label>
                <input id="date" class="form-control" name="date" type="date"  >
              </div>

          <div class="form-group">
                  <label for="date">Precio Sugerido</label>
                  <input id="price" class="form-control" name="price" type="number"  >
          </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success"
      >Enviar solicitud</button>
  </div>
</ng-template>
