<div id="content-wrapper">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Solicitudes de Asesoria.</a>
    </li>
  </ol>

  <div class="row justify-content-center">
    <div class="col-md-3 m-1">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Special title treatment</h5>
          <a class="btn btn-link text-center text-primary" href="#">Ver detalles</a>
          <hr class="hr-light">
          <a href="#" class="btn btn-link text-danger">Declinar</a>
          <a href="#" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-1">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Special title treatment</h5>
          <a class="btn btn-link text-center text-primary" href="#">Ver detalles</a>
          <hr class="hr-light">
          <a href="#" class="btn btn-link text-danger">Declinar</a>
          <a href="#" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-1">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Special title treatment</h5>
          <a class="btn btn-link text-center text-primary" href="#">Ver detalles</a>
          <hr class="hr-light">
          <a href="#" class="btn btn-link text-danger">Declinar</a>
          <a href="#" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-1">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Special title treatment</h5>
          <a class="btn btn-link text-center text-primary" href="#">Ver detalles</a>
          <hr class="hr-light">
          <a href="#" class="btn btn-link text-danger">Declinar</a>
          <a href="#" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-1">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Special title treatment</h5>
          <a class="btn btn-link text-center text-primary" href="#">Ver detalles</a>
          <hr class="hr-light">
          <a href="#" class="btn btn-link text-danger">Declinar</a>
          <a href="#" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-1">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Special title treatment</h5>
          <a class="btn btn-link text-center text-primary" href="#">Ver detalles</a>
          <hr class="hr-light">
          <a href="#" class="btn btn-link text-danger">Declinar</a>
          <a href="#" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-1">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Special title treatment</h5>
          <a class="btn btn-link text-center text-primary" href="#">Ver detalles</a>
          <hr class="hr-light">
          <a href="#" class="btn btn-link text-danger">Declinar</a>
          <a href="#" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-1">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Special title treatment</h5>
          <a class="btn btn-link text-center text-primary" href="#">Ver detalles</a>
          <hr class="hr-light">
          <a href="#" class="btn btn-link text-danger">Declinar</a>
          <a href="#" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-1">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Special title treatment</h5>
          <a class="btn btn-link text-center text-primary" href="#">Ver detalles</a>
          <hr class="hr-light">
          <a href="#" class="btn btn-link text-danger">Declinar</a>
          <a href="#" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>

  </div>
</div>
