<div>

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Tu perfil</a>
    </li>
  </ol>
  <div class="container bootstrap snippet">
    <div class="row">
      <div class="col text-center"><h1>{{user.name}} {{user.lastname}}</h1></div>
    </div>
    <div class="row">
      <div class="col-sm-3"><!--left col-->
        <div class="text-center">
          <h1 class="text-center text-primary"><i class="fas fa-user fa-4x"></i></h1>
        </div><br>

        <!-- <ul class="list-group">
          <li class="list-group-item text-muted">Activity <i class="fa
              fa-dashboard fa-1x"></i></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span>
            125</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span>
            13</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span>
            37</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span>
            78</li>
        </ul> -->
      </div><!--/col-3-->
      <div class="col-sm-9">
        <!-- <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#messages">Menu 1</a></li>
        <li><a data-toggle="tab" href="#settings">Menu 2</a></li>
      </ul> -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <hr>
            <form class="form" action="#" method="post" id="registrationForm">
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="phone">Documento de Identificación</label>
                  <input type="text" class="form-control" name="identification_document"
                    id="identification_document" placeholder="Documento de Identificación"
                    [(ngModel)]="user.identification_document" >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="first_name">Nombres</label>
                    <input type="text" class="form-control" name="name"
                      id="name" placeholder="Nombres"
                      [(ngModel)]="user.name">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="last_name">Apellidos</label>
                    <input type="text" class="form-control" name="lastname"
                      id="lastname" placeholder="Apellidos" [(ngModel)]="user.lastname">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Estado de Residencia</label>
                <select class="form-control"  id="state" name="state" [(ngModel)]="user.state">
                  <option [ngValue]="'Amazonas'">Amazonas</option>
                  <option [ngValue]="'Anzoátegui'">Anzoátegui</option>
                  <option [ngValue]="'Apure'">Apure</option>
                  <option [ngValue]="'Aragua'">Aragua</option>
                  <option [ngValue]="'Barinas'">Barinas</option>
                  <option [ngValue]="'Bolívar'">Bolívar</option>
                  <option [ngValue]="'Carabobo'">Carabobo</option>
                  <option [ngValue]="'Cojedes'">Cojedes</option>
                  <option [ngValue]="'Delta Amacuro'">Delta Amacuro</option>
                  <option [ngValue]="'Distrito Capital'">Distrito Capital</option>
                  <option [ngValue]="'Falcón'">Falcón</option>
                  <option [ngValue]="'Guárico'">Guárico</option>
                  <option [ngValue]="'Lara'">Lara</option>
                  <option [ngValue]="'Mérida'">Mérida</option>
                  <option [ngValue]="'Miranda'">Miranda</option>
                  <option [ngValue]="'Monagas'">Monagas</option>
                  <option [ngValue]="'Nueva Esparta'">Nueva Esparta</option>
                  <option [ngValue]="'Portuguesa'">Portuguesa</option>
                  <option [ngValue]="'Sucre'">Sucre</option>
                  <option [ngValue]="'Táchira'">Táchira</option>
                  <option [ngValue]="'Trujillo'">Trujillo</option>
                  <option [ngValue]="'Vargas'">Vargas</option>
                  <option [ngValue]="'Yaracuy'">Yaracuy</option>
                  <option [ngValue]="'Zulia'">Zulia</option>
                </select>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="mobile">Telefono</label>
                      <input type="text" class="form-control"
                        name="phone_number" id="phone_number" placeholder="enter mobile number" [(ngModel)]="user.phone_number">
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">

                    <div class="col-xs-6">
                      <label for="birthdate">Fecha de Nacimiento</label>
                      <input type="date" class="form-control" id="birthdate"
                        name="birthdate"
                        placeholder="Fecha de nacimiento" [(ngModel)]="user.birthdate">
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group">

                <div class="col-xs-6">
                  <label for="email">Correo Electronico</label>
                  <input type="email" class="form-control" name="email"
                    id="email"
                    placeholder="ejemplo@email.com"  [(ngModel)]="user.email">
                </div>
              </div>

              <div class="form-group">

                <div class="col-xs-6">
                  <label for="password">Contraseña</label>
                  <input type="password" class="form-control" name="password"
                    id="password" placeholder="password" title="enter your
                    password." [(ngModel)]="user.password">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="password2">Verificar Contraseña</label>
                  <input type="password" class="form-control" name="password2"
                    id="password2" placeholder="Verificar contraseña para continuar" [(ngModel)]="rePass" >
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <br>
                  <button class="btn btn-lg btn-success w-100" [className]="(user.password===rePass)&&(rePass&&user.password)?' btn btn-success btn-block  ':' btn btn-success btn-block disabled'"   (click)="updateProfile()">Guardar</button>
                </div>
              </div>
            </form>

            <hr>

          </div><!--/tab-pane-->

        </div><!--/tab-pane-->
      </div><!--/tab-content-->

    </div><!--/col-9-->
  </div><!--/row-->
</div>
